# NPM Cruft
/package-lock.json
node_modules

# Yarn 2 Assets
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Error logs
*-debug.log
*-error.log

# Temp files
/tmp
*.bak

# TypeScript cache
*.tsbuildinfo

# Sensitive Files
.env
!.env.example

# Build outputs
**/dist
/lib
*copy*

# CloudGraph
.cloud-graphrc.json
aws_*.json
/src/plugins
/cg
/dgraph

# Testing
/.nyc_output
/coverage
/test/.testConfigDir
/test/.testData

# General Cruft
.DS_Store
/.vscode
/.yalc
yalc.lock
