# NPM Cruft
node_modules

# Error logs
*-debug.log
*-error.log

# Temp files
/tmp
*.bak

# TypeScript cache
*.tsbuildinfo

# Sensitive Files
.env
!.env.example

# Build outputs
**/dist
/lib
*copy*

# CloudGraph
/.nyc_output
.cloud-graphrc.json
aws_*.json
/src/plugins
/cg
/dgraph

# General Cruft
.DS_Store
/.vscode
/.yalc
yalc.lock
